/* creating a general style for everything not specifically specified below */
body {
    margin: 0 auto;
    width: 85%;
    color: #ffffff;
    background-color: rgb(221, 221, 221);
    font-family: 'Titillium Web', sans-serif;
    text-align: center;
}

/* creating the CSS grid the elements will be set up in. */
.wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

/* creating the styling for the header - since I have 9 columns I'm spanning all 9 so the header takes up it's own row */
header {
    color: #ffffff;
    width: 100%;
    background-color: #5F506B;
    font-size: 30px;
}

/* Styling the header nav horizontal for smaller screens. */
nav > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}


nav > ul > li {
    display: inline-block;
    font-size: 1.25rem;
    padding: 15px;
}


/* reducing the size of the image and styling it so it's circular. */
.image > img {
    border-radius: 50%;
    width: 300px;
    height: 300px;
    margin: 5px;
}

/* setting the intro section background and setting it to span 3 columns in width */
#intro {
    background-color: #5e7780;
    text-align: left;
    padding: 2rem;
}

/* aligning the h2 tags centered */
#intro > h2, #about > h2 {
    text-align: center;
}

/* setting the about section background and setting it to span 3 columns in width */
#about {
    background-color: #76949F;
    text-align: left;
    padding: 2rem;
}

/* setting the contact section background and setting it to span 3 columns in width */
#contact {
    background-color: rgb(19, 52, 88);
    padding: 2rem;
}

/* setting the unordered list so the li tags are all aligned on their left edge even if centered */
#about > ul, #about > ol, #contact > ul {
    display: inline-block;
    list-style-type: none;
    padding: 0;
    overflow: hidden;
}

/* aligning all of the li tags to align on their left edge */
li {
    text-align: left;
}

/* removing the margin and padding from all h1 and h2 tags */
h1, h2, h3 {
    margin: 0;
    padding: 0;
}

/* creating the hr that goes under the different section headings, reducing their size, and setting their color */
hr { 
    display: block;
    height: 1px;
    border: 0;
    border-top: 2px solid #5F506B;
    margin: 0 auto; 
    padding: 0;
    width: 40%;
}

/* styling all of the link colors for their various states */
a:link {
    color: #ffffff;
}

a:visited {
    color: #82bef7;
}

a:hover {
    color: #77cefa;
}

a:active {
    color: #49f9ff;
}

/* footer grid styling */
footer {
    background-color:#45856f;
    padding: 2rem;
}

/* Creating the overall style for the contact form. */
form {
    background-color: rgb(206, 205, 205);
    padding: 2rem;
    text-align: left;
}

/* Styling the input fields in the contact form. */
input[type="text"] {
    width: 100%;
    border: 2px solid darkgray;
    border-radius: 3px;
    box-sizing: border-box;
    padding: 10px;
    margin-bottom: 10px;
}

/* Styling the contact form. */
textarea {
    width: 100%;
    height: 200px;
    border: 2px solid darkgray;
    border-radius: 3px;
    box-sizing: border-box;
    padding: 10px;
    margin-bottom: 3px;
    resize: vertical;
    font-family: 'Titillium Web', sans-serif;
}

/* Styling the submit button in the contact form. */
input[type="submit"] {
    background-color: #86BBBD;
    color: white;
    border-radius: 2px;
    width: 15%;
    padding: 10px;
    margin-top: 10px;
    text-align: center;
    font-family: 'Titillium Web', sans-serif;
    border: 1px solid darkgray;
}

/* Setting the page layout for a desktop screen. */
@media all and (min-width: 1200px) {
    .content-wrapper-large {
        display: flex;
        flex-direction: row;
    }

    /* Making the navigation horizontal on larger screens. */
    nav > ul {
        display: inline-block;
        list-style-type: none;
        padding: 0;
        float: center;
    }

    nav > ul > li {
        display: block;
        text-align: left;
        margin: 0;
        padding: 0;
    }
}